PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=chatapp
POSTGRES_PASSWORD=chatapp_secret
POSTGRES_DB=chatapp_db
DATABASE_URL=postgresql://chatapp:chatapp_secret@localhost:5432/chatapp_db

MONGO_USER=chatapp
MONGO_PASSWORD=chatapp_secret
MONGODB_URI=mongodb://chatapp:chatapp_secret@localhost:27017/chatapp_messages?authSource=admin

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=chatapp_secret

JWT_ACCESS_SECRET=degistir_bunu_uretimde_guclu_yap
JWT_REFRESH_SECRET=bunu_da_degistir_farkli_olmali
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d